/* Global CSS variables for easy color management */
:root {
  --primary-color: rgb(250, 101, 32); /* Primary accent color for the app */
  --hover-color: #fad7d7; /* Color for hover effects */
  --bg-color: #e4e4e4; /* Light gray background color for the page */
  --text-color: aliceblue; /* Default dark green text color */
}

/* Reset default margin, padding, and box-sizing across elements */
* {
  margin: 0; /* Remove default margin from all elements */
  padding: 0; /* Remove default padding from all elements */
  box-sizing: border-box; /* Include padding and border in element's total width and height */
}

/* Body styling */
body {
  font-family: 'Roboto', sans-serif; /* Set font family to Roboto */
  color: var(--text-color); /* Set default color for all text */
  background-color: var(--bg-color); /* Set background color to defined variable */
}

/* Header styling */
header {
  display: flex; /* Use flexbox for layout within the header */
  justify-content: space-between; /* Space out items evenly within header */
  align-items: center; /* Vertically center items within header */
  background: linear-gradient(to bottom, var(--primary-color), var(--primary-color)); /* Gradient background for header*/
  padding: 18px 20px; /* Add padding around header content 18px 20px*/
} 
  
/* Main title styling (inside header) */
header h1 {
  font-size: 28px; /* Set font size of header title */
}
  
/* Navigation styling */
header nav ul {
  list-style: none; /* Remove default list bullets from nav */
}

/* Individual navigation link styling */
header nav ul li {
  margin-left: 15px; /* Add space between each nav link */
  display: inline;
}
  
/* Styling for anchor links inside navigation */
header nav a, #addReminderButton, #addReminderButton-lower {
  color: var(--primary-color); /* Set link text color */
  text-decoration: none; /* Remove default underline from links */
  padding: 10px 20px; /* Add padding around links */
  background-color: var(--text-color); /* Set link background color */
  border-radius: 5px; /* Add rounded corners to links */
  border: none; /* Remove default link border */
  font-size: 15.5px;
  transition: background-color 0.3s ease; /* Smooth transition for hover effect */
  cursor: pointer;
}
  
/* Hover effect for navigation links */
header nav a:hover, #addReminderButton:hover, #addReminderButton-lower:hover {
  background-color: var(--hover-color); /* Change background color when hovered */
}

/* lower menu navigation styling */
.dashboardMenu {
  justify-content: center; /* Center items horizontally */
  background: linear-gradient(to bottom, var(--primary-color), rgb(247, 176, 84)60%); /* Gradient background for lower menu navigation*/
}

/* Dropdown menu for View Reminders */
.dropdown {
  position: relative; 
  display: inline-block; 
}

.dropdown-content {
  display: none; 
  position: absolute; 
  background-color: whitesmoke; 
  min-width: 250px; 
  box-shadow: var(--hover-color); 
  z-index: 1; 
  border-radius: 5px;
  margin-top: 10px;
  max-height: 300px;
  overflow-y: auto;
}

.dropdown-content li {
  color: var(--primary-color); 
  padding: 12px 16px; 
  text-decoration: none; 
  display: block; 
  text-align: center;
}

.dropdown-content li:hover {
  background-color: var(--hover-color); 
}

.dropdown:hover .dropdown-content {
  display: block; 
}

/* Add space between */
.edit-button, .delete-button {
  margin-left: 10px;
}



/* Badges Section Styling */
#yourBadges, #upcomingBadges {
  padding: 20px; /* Add padding to badges section */
}

#yourBadges h2, #upcomingBadges h2 {
  color: var(--primary-color);; /* Sets color of h2 elements */
  font-style: italic; /* Makes the text in h2 elements italic */
  margin: 0 170px;
}

.badgesContainer {
  display: flex; /* Enable Flexbox */
  flex-wrap: wrap; /* Allow badges to wrap onto new lines if necessary */
  justify-content: center; /* Center badges horizontally */
  align-items: center; /* Center badges vertically */
  border: solid var(--bg-color); /* Sets a solid border with the color  var(--bg-color) */
  background: linear-gradient(to bottom, #472115, rgb(122, 61, 61)); /* Gradient background for badges container*/
  border-radius: 18px; /* Add rounded corners to the badges container */
  width: auto; /* Allow width to automatically adjust to fit the content */
  margin: 0 170px;
  
}

.badgesContainer img {
  width: 90px; /* Sets the width of the badge images to 90px */
  margin: 6px; /* Adds 6px of space around each badge image */
  border-radius: 25px;
}

.badgesContainer img:hover {
  transform: scale(1.1); /* Slightly enlarges the badge image when hover over */
  border: 2px solid var(--hover-color); /* Adds a solid border with the hover color when the image is hovered over */
  transition: transform 0.2s ease-in-out; /* Smoothly transition for hover effect */
}

.badges-section:empty {
  display: none;
}

.badges-section.hidden {
  display: none;
}

/* Main container styling */
#mainContainer {
  display: flex; /* Enable flexbox for horizontal alignment */
  justify-content: space-between; /* Add space between the two charts */
  align-items: center; /* Align items vertically at the center */
  justify-content: center;
  margin: 0 auto;
  transition: margin-top 0.3s ease;
}

.badges-section.hidden, #mainContainer {
  margin-top: 0;
}

canvas {
  background-color: #9b3b1e; /* Sets the background color for canvas elements to dark red */
  border-radius: 5px; /* Adds rounded corners to canvas elements */ 
  height: 400px; /* Set the height of the canvas to 400px */
}

#goalsChart {
  max-width: 600px;
  margin: 15px 0;
  width: 100%;
}

#goalsChart h2 {
  color: var(--primary-color); /* Sets color for the h2 element */
  font-size: 25px; /* Sets the font size of the h2 to 25px */
  font-style: italic; /* Makes the h2 italic */
  padding: 5px 0; /* Adds padding to the h2 */
}

.addGoalsContainer {
  display: flex;
  justify-content: space-between;
  gap: 30px;
}

.addGoalsContainer button {
  padding: 8px;
  background-color: var(--primary-color);
  color: var(--text-color);
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.addGoalsContainer button:hover {
  transform: scale(1.05);
  background-color: #e05515;
}

.calendar-container {
  width: 10px;
  text-align: center;
  margin: 20px 200px;
}

.calendar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  gap: 1rem; /* Adds space between elements */
  width: 100%; /* Ensures full width */
  color: var(--primary-color);
  margin-left: 10px;
}

.calendar-header button {
  padding: 0.5rem 1rem;
}

.calendar {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 5px;
}

.calendar div {
  padding: 10px;
  background: linear-gradient(to bottom, var(--primary-color), rgb(247, 176, 84)100%); /* Gradient background for days on the calendar*/
  cursor: pointer;
  text-align: center;
}

.calendar div:hover {
  transform: scale(1.05);
}

.goal-section {
  margin-left: 200px;
  width: 300px;
  color: var(--primary-color);
}

.goal-section button{
  margin-bottom: 20px;
}

textarea {
  width: 100%;
  height: 100px; /* Set height of textarea to 100px */
  margin-bottom: 10px;
  resize: none;
}

.goal-display-section {
  width: 300px;
  height: 455px; /* Set height of goal display section to 455px*/
  margin: 30px 140px 0 30px;
  color: var(--primary-color);
  display: flex;
  flex-direction: column;
  background: linear-gradient(to bottom, #9b3b1e 50%, var(--primary-color));
  border-radius: 5px;
  overflow-y: auto; /* Enable vertical scrolling */
  padding: 10px; /* Add padding for better spacing */
}

.goal-display-section::-webkit-scrollbar {
  width: 8px; /* scrollbar width */
}

.goal-display-section::-webkit-scrollbar-thumb {
  background: linear-gradient(to bottom, rgb(107, 53, 53), rgb(189, 107, 107)); /* Gradient background for the scrollbar thumb*/
  border-radius: 4px; /* Rounded scrollbar edges */
}

.goal-display-section h3{
  margin-left: 10px;
  margin-top: 10px;
  color: var(--text-color);
}

.goal-overview-item {
  background-color: #f4f4f4;
  padding: 10px;
  margin: 10px 10px;
  border-radius: 5px;
}

.goal-overview-item button {
  margin-left: 10px;
}

/* Styling for the footer section */
footer {
  background: #472115;  /* Sets the background color of the footer */
  text-align: center;  /* Centers the text inside the footer */
  padding: 20px;  /* Adds padding inside the footer */
  
}

footer a {
  color: wheat;
}

@media (max-width: 1620px) {
  #goalsChart {
    margin-left: 100px; /* Adds margin to the left side of the goals chart */
   }

   .addGoalsContainer {
    gap: 0px;
  }

  .goal-section, .calendar-container {
    margin-left: 20px;
  }

  .goal-display-section {
    width: 250px;
  }
}

/* Media queries for responsive layout adjustments */
@media (max-width: 1250px) {
  #mainContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
  }

  #goalsChart {
    max-width: 600px;
    margin: 15px 0;
    width: 80%;
  }

  .badgesContainer, #yourBadges h2, #upcomingBadges h2 {
    margin: 0 40px; /* Change margin of badges section */
    transition: 0.6s ease; /* Make the change smooth when screen gets smaller */
  }

  .addGoalsContainer {
    gap: 60px;
  }

  .calendar-container, .goal-section {
    margin-left: 140px;
  }

  .goal-display-section {
    margin-left: 60px;
  }
}

@media (min-width: 1250px) {
  .badgesContainer, #yourBadges h2, #upcomingBadges h2 {
    transition: 0.6s ease; /* Make the change smooth when the screen gets bigger*/
  }
}

@media (max-width: 810px) {
  .addGoalsContainer {
    flex-direction: column; /* Stack elements vertically */
    align-items: center; /* Center align the items */
  }

  .goal-display-section {
    margin: 15px 0; /* Adjust margins for spacing */
    width: 400px;
  }

  .calendar-container, .goal-section, .goal-display-section {
    margin-left: 0px;
  }

  #viewReminders, #addReminderButton {
    display: none;
  }

  #upperDashboardMenu {
    margin-left: 25px;
  }

  #lowerHiddenDashboardMenu {
    margin-top: 30px; 
  }
}

@media (min-width: 811px) {
  #lowerHiddenDashboardMenu {
    display: none;
  }
}

@media (max-width: 492px) {
  #yourBadges, #upcomingBadges {
    margin: 0 20px;
    transition: 0.6s ease;
  }

  .badgesContainer {
    width: 320px;
  }
} 