/* Global CSS variables for easy color management */
:root {
  --primary-color: rgb(250, 101, 32); /* Primary accent color for the app */
  --hover-color: #db4500; /* Color for hover effects */
  --bg-color: #e4e4e4; /* Light gray background color for the page */
  --text-color: aliceblue; /* Default dark green text color */
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
  }

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: var(--bg-color);
}

.container {
  width: 400px;
  background: white;
  border-radius: 20px;
  padding: 40px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
}

.form-section h1 {
  font-size: 2rem;
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 20px;
}

.form-group input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 14px;
}

.submit-btn {
  padding: 10px;
  width: 100%;
  background-color: var(--primary-color);
  color: var(--text-color);
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

.submit-btn:hover {
  background-color: var(--hover-color);
}

.signup-link {
  text-align: right;
  margin-top: 10px;
  font-size: 14px;
}

.signup-link a {
  color: var(--primary-color);
  text-decoration: none;
}

.signup-link a:hover {
  text-decoration: underline;
}