<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sign Up</title>
    <link href="/styles/sign-up.css" rel="stylesheet" />
  </head>
  <body>
    <header>
      <h2>JABZ Fitness</h2>
    </header>
    <main>
      <form id="sign-up">
        <h3>Sign Up</h3>
        <div class="form-group">
          <input
            placeholder="First Name"
            type="text"
            name="fname"
            id="fname"
            required
          />
          <input
            placeholder="Last Name"
            type="text"
            name="lname"
            id="lname"
            required
          />
          <input
            placeholder="Email"
            type="email"
            name="mail"
            id="mail"
            required
          />
          <input
            placeholder="Password"
            type="password"
            name="pass"
            id="pass"
            required
          />
        </div>
        <button type="submit">Sign Up</button>
        <div class="message">
          <p>
            Already have an account?
            <a href="/views/login.html">Sign in here!</a>
          </p>
        </div>
      </form>
    </main>
    <footer>
      <h4>&copy;2025 JABZ Fiteness | All Rights Reserved</h4>
    </footer>
  </body>
</html>
